/*
Banner stylesheet
*/

.banner {
    background: url(../images/Image00004.jpg) top left no-repeat;
    color: white;
    text-shadow: 1.5px 1px 1.5px black;
    margin: -2em -2em 2em;
    padding: 2em;
    background-size: cover;
    background-position: center;
}

/* Set the font and margins for the banner heading*/
.banner-heading {
    font-family: 'Cinzel', serif;
    font-style: italic;
    font-size: 2.4em;
    margin-top: 0;
}

/* Set the font and margins for the banner paragraph text */
  p.banner-text {
    color: white;
    text-shadow: 1.5px 1.5px 1.5px hsl(25, 26%, 33%);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .7em;
    background: hsla(25, 23%, 54%, 0.51);
    padding: 1.5em 2em;
    margin: 0 -2em;
    border-radius: 50%;
}

/* Sets break points and display settings for different sized screens */
@media screen and (min-width: 320px) {  /* At screen width 600px use these banner settings */
    body {
      /*  background: pink; */  /*Set this to see area you are manipulating */
        width: 100%;   /* sets the width of the items within the banner to be 50% of the banner space */
        margin: 0 auto;
        padding-bottom: 0em;
    }

    body {
      width: 100%;   /* sets the width of the items within the banner to be 50% of the banner space */
    }

    .site-branding, .site-title {
      width: 80%;
      }

    h2.main-area {
      margin: 0;
      }

    h2.banner-heading {
      margin: -.5em;
      }

    p.banner-text {
        margin: 2em;
        text-align: center;
      }
}

/* Sets break points and display settings for different sized screens */
@media screen and (min-width: 600px) {  /* At screen width 600px use these banner settings */
    .centered {
      /*  background: pink; */  /*Set this to see area you are manipulating */
        width: 50%;   /* sets the width of the items within the banner to be 50% of the banner space */
        margin: 0 auto;
        padding-bottom: 0em;
    }
}

@media screen and (min-width: 900px) {
  .centered {
    width: 75%;
    }

  .banner-heading,
  .banner-text {
    width: 50%;
    }

  h2.banner-heading {
    margin-bottom: -.5em;
    }

  p.banner-text {
      margin-left: 2em;
      text-align: center;
    }
}
